<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Oro App</title>
  </head>
  <body>
    <div id="root"><%- component %></div>
    <script defer="defer" src="<%= assets['client.js'] %>"></script>
  </body>
</html>